<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section-about">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea omnis quisquam. Sint odit quia aliquam dolorem dolor neque iure ab ipsum molestiae illum illo, quasi blanditiis alias, sapiente provident facere eos fugit? Molestias, illum! Placeat corporis at esse perspiciatis cupiditate ex dignissimos recusandae, quibusdam nostrum eaque dolorum maiores doloremque omnis veritatis! Expedita est maiores, temporibus sequi rem obcaecati! Totam velit quidem aut quisquam ullam modi et nisi explicabo cupiditate non atque sint iure, a eveniet nulla blanditiis quasi possimus deserunt exercitationem libero obcaecati sapiente! Minima perspiciatis veritatis suscipit.</p>
            </div>
            <div class="footer-section-contactus">
                <h2>Contact Us</h2>
                <p>Email: contact@example.com</p>
                <p>Phone: +123-456-7890</p>
            
    
        
                <p class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
