<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <script src="login.component.ts"></script>
    <title>Login Page</title>
</head>
<body>
    <div class="login-container" id="login-container">
        <form action="" class="form">
            <h1>LOGIN</h1>
            <div><p>Name:</p><input type="text"></div>
            <div><p>Password:</p><input type="text"></div>
            <!-- <div class="forgot-pwd">forgot password</div> -->
            <div class="create-ac"><p>Does not have an account! <a href="#">Create Account</a></p>
            <button type="submit">submit</button></div>
        </form>
    </div>
    <div class="signup-container" id="signup-container" >
        <form action="" class="form">
            <h1>SIGNUP</h1>
            <div><p>Name:</p><input type="text"></div>
            <div><p>Create Password:</p><input type="password"></div>
            <div><p>Re-Enter Password:</p><input type="password"></div>

            <!-- <div class="forgot-pwd">forgot password</div> -->
            <div class="create-ac"><p>Already have an account! <a href="#">">Login</a></p>
            <button type="submit">submit</button></div>
        </form>
    </div>
</body>
</html>
