<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="product-grid">
    <div class="product">
        <img src="assets/dailywear.jpeg" alt="dailywear">
        <h2>Dailywear</h2>
    </div>
    <div class="product">
        <img src="assets/partywear.webp" alt="partywear">
        <h2>Partywear</h2>
    </div>
    <div class="product">
        <img src="assets/festivewear.jpg" alt="festivewear">
        <h2>Festivewear</h2>
    </div>
    <div class="product">
        <img src="assets/silkcollection.webp" alt="festivewear">
        <h2>Silkcollection</h2>
    </div>
</div>
</body>
</html>
