<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="navigation.component.css">
</head>
<body>
    <div class="navbar">
        <div class="left">
            <!-- Left part of the navigation bar -->
            <a href="#">New</a>
        </div>
        <div class="middle">
            <!-- Middle part of the navigation bar -->
            
            
            <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvySPmynDDFjoZqw3b1TIAEozHTtQ1R5VuWl9UDaD-ihtaum8eDp4fYMrPDljyqSvVEuw&usqp=CAU" alt="logo"></a>
        </div>
        <div class="right">
            <!-- Right part of the navigation bar -->
            <a href="#">Cart</a>
            <a href="#">My Account</a>
        </div>
    </div>
</body>
</html>

